.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.authHeader {
  margin-top: -15%;
}

.accountLink {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
}

.submit {
  width: 40%;
  cursor: pointer;
}

.emailInput {
  margin-bottom: 20px;
}