.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-align: center;
}

.authHeader {
  margin-top: -15%;
}

.accountLink {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
}

.submit {
  width: 40%;
  cursor: pointer;
}

.emailInput {
  margin-bottom: 20px;
}

.validationError {
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;
  width: 300px;
  margin-bottom: 5px;
  color: rgb(245, 140, 114);
}
