@import '../../utils/variables';
@import '../../utils/grid';

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 8px 15px;
  border-bottom: $border-light;
  background-color: $input-color;
  transition: 0.3s;
  z-index: 10;
  display: flex;
}

.fixedHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 8px 15px;
  border-bottom: $border-light;
  border-color: rgb(30, 30, 30);
  background-color: rgb(30, 30, 30);
  opacity: 0.95;
  transition: 0.3s;
  z-index: 10;
  display: flex;
}

.invisibleIntersect {
  position: absolute;
  z-index: -1;
  width: 100%;
}

@media screen and (min-width: 1500px) {
  .mainHeader {
    flex: 6;
  }

  .buttons {
    flex: 2;
  }
}

@media screen and (min-width: 768px) {
  .mainHeader {
    flex: 1;
  }

  .buttons {
    flex: 1;
  }
}

@media screen and (min-width: 320px) {
  .mainHeader {
    flex: 1;
  }

  .buttons {
    flex: 1;
  }
}

.headerText {
  text-decoration: none;
  color: $font-color;
  font-size: 28px;
  font-weight: 600;
}

.authLink {
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
}

.greenbtn {
  background-color: $green-button-color;
  border-top: $green-border-light;
  border-left: $green-border-light;
  border-bottom: $green-border-dark;
  border-right: $green-border-dark;
}

.greenbtn:hover {
  border-top: $green-border-light-active;
  border-left: $green-border-light-active;
  border-bottom: $green-border-dark;
  border-right: $green-border-dark;
}

.greenbtn:active {
  background-color: $green-button-color-active;
}

.signoutbtn {
  cursor: pointer;
  margin-left: 10px;
  padding-left: 12px;
  padding-bottom: 5px;
  height: 40px;
}

.textLeft {
  text-align: end;
}

.logoutLogo {
  filter: invert(83%) sepia(39%) saturate(78%) hue-rotate(43deg) brightness(110%) contrast(106%);
  height: 25px;
  position: relative;
  top: 5px;
}

@media screen and (max-width: 768px) {
  .headerText {
    font-size: 20px;
    margin-bottom: 100px;
  }

  .signoutbtn {
    width: 75%;
    padding: 0;
    font-size: 16px;
  }

  .greenbtn {
    width: 75%;
    margin-bottom: 5px;
    padding: 0;
    font-size: 16px;
  }

  .logoutLogo {
    height: 20px;
    top: 5px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
  }

  .fixedHeader {
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .signoutbtn {
    flex: 1;
  }

  .greenbtn {
    flex: 1;
    margin-bottom: 5px;
  }
}