.col9 {
  float: left;
  width: 90%;
}

.col8 {
  float: left;
  width: 80%;
}

.col7 {
  float: left;
  width: 70%;
}

.col6 {
  float: left;
  width: 60%;
}

.col5 {
  float: left;
  width: 50%;
}

.col4 {
  float: left;
  width: 40%;
}

.col3 {
  float: left;
  width: 30%;
}

.col2 {
  float: left;
  width: 20%;
}

.col1 {
  float: left;
  width: 10%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}
