@import '../../utils/variables';

.playground-page {
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  overflow-y: auto;
  flex-direction: row;
  gap: 10px;
}

.request {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  overflow: auto;
  &-query {
    flex-grow: 3;
    flex-basis: 0;
    overflow-y: auto;
    background-color: $input-color;
    border: $border-dark;
    color: $font-color;
  }
  &-variables {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    background-color: $input-color;
    border: $border-dark;
    color: $font-color;
  }
  &-button {
    height: 30px;
    font-size: 16px;
  }
}

.response {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  overflow: auto;
  &-output {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    background-color: $input-color;
    border: $border-dark;
    color: $font-color;
    display: flex;
    flex-direction: column;
  }

  &-preloader {
    width: 80px;
    height: 80px;
  }
}

.error-text {
  font-size: 20px;
  padding: 20px;
  color: rgb(245, 140, 114);
}
