@import '../../utils/variables';

.playground-page {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
}

.request {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  &-query {
    resize: none;
    font-family: monospace;
    flex: 3;
    background-color: $input-color;
    border: $border-dark;
    color: $font-color;
    padding: 8px;
    &:focus {
      outline: none;
      border: $border-light;
    }
  }
  &-variables {
    resize: none;
    font-family: monospace;
    flex: 1;
    background-color: $input-color;
    border: $border-dark;
    color: $font-color;
    padding: 8px;
    &:focus {
      outline: none;
      border: $border-light;
    }
  }
  &-button {
    height: 30px;
    font-size: 16px;
  }
}

.response {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 0;
  margin: 0;
  max-height: 100%;
  &-output {
    display: flex;
    flex: 1;
    overflow: scroll;
    height: auto;
    margin: 0;
    background-color: $input-color;
    border: $border-dark;
    width: 100%;
  }

  &-json {
    padding: 5px;
    margin: 0;
    white-space: pre-wrap;
  }

  &-preloader {
    width: 80px;
    height: 80px;
  }
}

.error-text {
  font-size: 20px;
  padding: 20px;
  color: rgb(245, 140, 114);
}
